<div>
	<p>
		Name: <%=h topic.name %>
	</p>
	<p>
		<%= pluralize(topic.member_interests_count, "person") %> interested
	</p>
	<p>
		<%= pluralize(topic.topic_speakers_count, "speaker") %>
	</p>
	<p>
		<%= link_to 'Show others interested', topic_enthusiasts_path(topic) %>
		<%= link_to 'Show speakers', topic_speakers_path(topic) %>
		<%= link_to 'Edit', edit_topic_path(topic) %>
		<%= link_to 'Delete', topic, :confirm => 'Are you sure?', :method => :delete %>
	</p>
</div>
