<div class="topic_row">
	<div class="vote_box">
		<div class="vote_count">
			<div class="vote_count_value">
				<%= topic.interest_count %>
			</div>
			<div class="vote_count_label">Interested</div>
		</div>
	</div>
	
	<h4>
		Name: <%=h topic.name %>
	</h4>
	<p style="font-size: 0.9em;">
		<%= link_to 'Show interested', enthusiasts_topic_path(topic) %> |
		<%= link_to 'Show experts', experts_topic_path(topic) %> |
		<%= link_to 'Show speakers', speakers_topic_path(topic) %> |
		<%= link_to 'Edit', edit_topic_path(topic) %> |
		<%= link_to 'Delete', topic, :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<p>
		<% form_for(:member_interest, topic.member_interest(current_member), :url => topic_interests_path(topic)) do |f| %>
			<%= f.check_box :is_interested %>&nbsp;interested?
			<%= f.check_box :is_expert %>&nbsp;expert?
			<%= f.check_box :will_speak %>&nbsp;will speak?
			<%= f.submit "submit" %>
		<% end %>
	</p>
</div>

<div class="spacer"></div>