<div class="topic_row" id="<%= dom_id(topic) %>">
	<div class="vote_box">
		<div class="vote_count">
			<div class="vote_count_value">
				<%= topic.interest_count %>
			</div>
			<div class="vote_count_label">Interested</div>
		</div>
	</div>
	
	<h1>
		<%=h topic.name %>
	</h1>
	<% if current_member %>
	<p>

		<%= check_box_tag :is_interested %>&nbsp;interested?
		<%= check_box_tag :is_expert %>&nbsp;expert?
		<%= check_box_tag :will_speak %>&nbsp;will speak?

	</p>

	<% end %>
	<p style="font-size: 0.9em;">
		<%= link_to "#{pluralize(topic.interest_count, 'enthusiast')}", enthusiasts_topic_path(topic) %> |
		<%= link_to "#{pluralize(topic.expert_count, 'expert')}", experts_topic_path(topic) %> |
		<%= link_to "#{pluralize(topic.speaker_count, 'speaker')}", speakers_topic_path(topic) %>
		<% if current_member %>
			|
			<%= link_to('Edit', edit_topic_path(topic)) if current_member %> |
			<%= link_to('Delete', topic, :confirm => 'Are you sure?', :method => :delete) if current_member %>
		<% end %>
	</p>
</div>

<div class="spacer"></div>
