<%= render :partial => 'sidebar' %>

<%= render :partial => 'topic', :collection => @topics %>

<%= will_paginate @topics %>

<%= "<p>No topics found</p>" if @topics.empty? %>

<br />

<%= link_to('New topic', new_topic_path) if current_member %>
