<%= render :partial => 'sidebar' %>

<p>
	<%= link_to('Create a new topic', new_topic_path) if current_member %>
</p>

<%= render :partial => 'topic', :collection => @topics %>

<%= will_paginate @topics %>

<%= "<p>No topics found</p>" if @topics.empty? %>

