
= render :partial => 'members/content_heading', :locals => {heading_text: "Please Login", sub_heading_text: "Login to edit your profile" }

.post-body
  - if flash[:notice]
    %h3.notice
      = flash[:notice]

  %form{action: "/member_sessions", method: "post"}
    .form-block
      %p
        %label(for="member_email" class="req")
          Email address
        = text_field "member", "email"
      %p
        %label(for="member_password" class="req")
          Password
        = password_field "member", "password"
      %p.btn
        = submit_tag "Login"
        = link_to "Reset my password", new_password_reset_path




