<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Austin On Rails | Austin's Official Ruby on Rails User Group</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Jamie Hill" />
  <title>Members: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'master', 'color', 'member', :media => 'screen' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= csrf_meta_tag %>
</head>
<body class="c-ms cs0 fixed">
<div id="wrapper"><div id="w2"><div id="w3" class="clearfix">
<div id="header" class="clearfix">
  <div id="logo">
    <h1><%= link_to "Austin on Rails", "http://www.austinonrails.org" %></h1>
    <h2><%= link_to "Member Directory", :controller => 'members' %> | <%= link_to "Topics List", :controller => 'topics' %></h2>
  </div>
  <div id="search">

  </div>

  </div>
</div>
<div id="content">
<div id="maincol"><div id="mc2">
<div class="post">
<%= yield %>
</div>
</div></div> <!-- end #maincol -->

<div id="subcol">
  <div class="bt"><div></div></div>
  <div id="sc2">
      <div class="sidebar-node">
        <h3>Navigation</h3>
	  <ul>
        <li><%= link_to 'Member Listing', members_path %></li>
        <li><%= link_to 'Topic Listing', topics_path %></li>

      <% if current_member %>
        <li><%= link_to 'Edit your profile', edit_member_path(current_member.id) %></li>
		<li><%= link_to "Logout", logout_path %></li>

      <% else %>
        <li><%= link_to 'Create a new profile', :controller => 'members', :action => 'new' %></li>
		<li><%= link_to 'Login', login_path %></li>
      <% end %>
	  </ul>
      </div>
	  <%= yield :sidebar %>
  </div>
</div> <!-- end #subcol -->

</div> <!-- end #content -->

<div id="subfoot">
  <div class="bb"><div></div></div>
</div>

<div id="footer">
  <p>
    <a href="http://validator.w3.org/check/referer" title="Validates this page">XHTML</a>,
    <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Validates the CSS on this page.">CSS</a>.
    Template by <a href="http://www.soniciq.com" title="SonicIQ - Website Development">SonicIQ</a>.
  </p>

</div>

</div></div></div> <!-- end #wrapper -->

</body>
</html>
