.member
  .memberImage
    = member.image ? (image_tag member.image, :class => "member-image") : "&nbsp;" 

  .memberInfo

    %span.memberName
      = link_to h(member.full_name), :action => :show, :id => member

    %span.memberTitle
      = h(member.occupation.name) if member.occupation

    - if member.url && !member.url.empty?
      %span.desc
        URL:
        = link_to h(member.url.first(40)), member.url, :rel => "me"

    - if member.twitter && !member.twitter.empty?
      %br
      %span.desc
        Twitter:
      = link_to h("@#{member.twitter}"), "http://twitter.com/#{member.twitter}", :target => '_blank' 
  
    - if member.github && !member.github.empty?
      %br
      %span.desc
        Github:
      = link_to h("http://github.com/#{member.github}"), "http://github.com/#{member.github}", :target => '_blank'

    - if member.bio && ! member.bio.blank? 
      %br
      %span.desc
        Bio:
      = member.bio
    %br

    %span.desc
      Interests:
    - for interest in member.interests
      = link_to h(interest.name), topic_path(interest)
%br
=  hcard(member)

