= render(partial:  'content_heading', 
  locals: {"heading_text" => "Editing Member: #{@member.first_name} #{@member.last_name}", 
  "sub_heading_text" => "Fields in <strong>bold</strong> are required"}) 
.post-body
  = form_for(@member, url:  member_path(@member), html: {method:  :put, multipart:  true}) do |f| 
    = render partial: 'form', locals: {f: f}
    .btn
      = f.submit 'Save' 
      or 
      = link_to 'Cancel Edit', action: 'index' 
