
= render(:partial => 'content_heading', 
	  :locals => { "heading_text" => "Member: #{@member.full_name}", "sub_heading_text" => ( @member.created_at.nil? ? nil : "Member since #{distance_of_time_in_words_to_now(@member.created_at)} ago") }) 
	
.post-body

= render :partial => @member, :locals => { "as_single" => true} 
= link_to 'Edit', :action => 'edit', :id => @member 
= link_to 'Back', :action => 'list' 
